@*Form parameters are :  id:Long, recipeName:String, quantity:BigDecimal, date:Date, hour:Date *@ 
@( myForm:Form[(Long, String, BigDecimal, Option[java.util.Date], Option[java.util.Date])]
 )(
   implicit request: RequestHeader
 )
 
@import java.util.Date
@import java.util.Calendar
@import java.text.DateFormat
@import views.html._
@import helper._
@import models.website.IngredientConsumedHelper
@import controllers.website.Global


@main("Ajout d'une recette", 
     ""
     ) {

<section id="addARecipe">

    @helper.form(action = controllers.website.routes.Application.addRecipe()) {
        <div class="hide">
        @inputText(myForm("id"), '_label -> "Id")
        </div>
        @inputText(myForm("name"), '_label -> "Nom")
        
        @inputText(myForm("quantity"), '_label -> "Quantité")
        
        @inputText(myForm("date"), '_label -> "Date")        
        
        @inputText(myForm("hour"), '_label -> "Heure")

        <input type="submit" class="btn primary" value="Ajouter"> 
    }
</section id="addARecipe">

}@*end main*@
