@(currentDate: java.util.Date,
    pingredients: Map[IngredientProperty, IngredientIngredientPropertyMap])

@import models.dao.UnitDao
@import controllers.website.utils.DateUtils

@main("Détails des apports",
        "Apport en nutriments de la journée du " + DateUtils.dateFormaterDays.format(currentDate),
        views.EnumNavRub.MAIN
     ) {

    @defining({
        val unitsMap = UnitDao.mapUnit
        (unitsMap)
        }) { case ( unitsMap) =>

    <p>
    <table border="1">
        <thead>
        <td>Nutriment</td>
        <td>Quantité</td>
        <td>Unité</td>
        </thead>
        @for((ingredientProperty, ingredientIngredientPropertyMap) <- pingredients) {
        <tr>
            <td> @ingredientProperty.name </td>
            <td> @ingredientIngredientPropertyMap.value</td>
            <td> @{
                val units = unitsMap.get(ingredientProperty.unit_id).get;
                val abrv = units.abrvOf(ingredientIngredientPropertyMap.value);
                abrv
                }
            </td>
        </tr>
        }
    </table>
    </p>

    }@*end defining*@
}@*end main*@


