@(ingredients:Seq[Ingredient])
@import models.dao._
@{val ingredientProperties = IngredientPropertyDao.findAll}

@main("List des ingrédients", navRub="ingredients"){
 <table class="table table-bordered">
     <thead>
     <tr>
         <th>Id</th>
         <th>Name</th>
         <th>Family</th>
         <th>Glucides</th>
         <th>Lipides</th>
         <th>Protéines</th>
     </tr>
     </thead>
     <tbody>
     @for(ingredient <- ingredients) {
     <tr>
         <td>@ingredient.id</td>
         <td>@ingredient.name</td>
         <td>@ingredient.familyStr</td>
         <td>@ingredient.properties("Glucides")</td>
         <td>@ingredient.properties("Lipides")</td>
         <td>@ingredient.properties("Protéines")</td>
     </tr>
     }
     </tbody>
 </table>
 }