<!DOCTYPE html>
<html>
<head>
<title>Créateur de plat</title>
<link rel="shortcut icon" type="image/png"
 href="@controllers.website.routes.Assets.at("/images/favicon.png")">

<script>


    $(function() {$('#ingredientToAdd').keyup(actionOnEnterKey); });
    $(function() {$('#submit').click(createRecipe); });
    
    var curId = 1;
    function actionOnEnterKey(event) {
        if (event.keyCode == 13) {
            var ingredientKey = $('#ingredientToAdd').get(0).value
            majIngredientLine(ingredientKey, curId);
            curId=curId+1;
        }
    }

    function majIngredientLine(ingredientKey, lineId) {
        var url = "/ingredient/"+ingredientKey+"/apports.json";
        $.ajax({ url: url,
            dataType:"json",
            success: function(data) {
                newInputFiledIngredient(lineId);
                updateCalcIngredientLine(data, lineId);
                updateCalcIngredientLineNutriments(lineId);
                updateCalcTotal();
            }
        });
    }
    function newInputFiledIngredient(id) {
        var res = '<tr id="ingredient'+id+'"> \
            <td class="id">id'+id+'</td> \
            <td class="quantity"><input type="text" class="quantity" size="5" value="100"/> gr</td> \
            <td class="ingredientName">nom</td> \
            <td class="family">famille</td> \
            <td class="glucides">glucides</td> \
            <td class="lipides">lipides</td> \
            <td class="proteines">protéines</td> \
            <td class="glucidesTt">glucides</td> \
            <td class="lipidesTt">lipides</td> \
            <td class="proteinesTt">protéines</td> \
            </tr>';

        $('#listIngredients > tbody').append(res);
        addOnChangeInputField(id);
    }

    function addOnChangeInputField(id) {
        var ingredientId = 'ingredient'+id;
        $('tbody > tr#'+ingredientId+' > td > input').keyup(function() {
            updateCalcIngredientLineNutriments(id);
            updateCalcTotal();
        });
    }

    function updateCalcIngredientLineNutriments(id) {
        var ingredientId = 'ingredient'+id;
        var glucidesStr = $('tbody > tr#'+ingredientId+' > td.glucides').get(0).firstChild.nodeValue;
        var glucides = parseFloat(glucidesStr);
        var proteinesStr = $('tbody > tr#'+ingredientId+' > td.proteines').get(0).firstChild.nodeValue;
        var proteines = parseFloat(proteinesStr);
        var lipidesStr = $('tbody > tr#'+ingredientId+' > td.lipides').get(0).firstChild.nodeValue;
        var lipides = parseFloat(lipidesStr);
        var quantityStr = $('tbody > tr#'+ingredientId+' > td > input').get(0).value;
        var quantity =  parseFloat(quantityStr);
        $('tr#' + ingredientId + ' > td.glucidesTt').get(0).firstChild.nodeValue = (glucides * quantity) / 100;
        $('tr#' + ingredientId + ' > td.lipidesTt').get(0).firstChild.nodeValue = (lipides * quantity) / 100;
        $('tr#' + ingredientId + ' > td.proteinesTt').get(0).firstChild.nodeValue = (proteines * quantity) / 100;
    }

    function updateCalcIngredientLine(ingredientObj, lineId) {
        var ingredientId = 'ingredient' + lineId;
        $('tr#' + ingredientId + ' > td.id').get(0).firstChild.nodeValue = ingredientObj.id;
        $('tr#' + ingredientId + ' > td.ingredientName').get(0).firstChild.nodeValue = ingredientObj.name;
        $('tr#' + ingredientId + ' > td.family').get(0).firstChild.nodeValue = ingredientObj.famille;
        $('tr#' + ingredientId + ' > td.glucides').get(0).firstChild.nodeValue = ingredientObj.glucides;
        $('tr#' + ingredientId + ' > td.lipides').get(0).firstChild.nodeValue = ingredientObj.lipides;
        $('tr#' + ingredientId + ' > td.proteines').get(0).firstChild.nodeValue = ingredientObj.proteines;
    }

    function updateCalcTotal() {
        var glucides = calcColumn('tbody > tr > td.glucides');
        var proteines = calcColumn('tbody > tr > td.proteines');
        var lipides = calcColumn('tbody > tr > td.lipides');
        var glucidesTt = calcColumn('tbody > tr > td.glucidesTt');
        var proteinesTt = calcColumn('tbody > tr > td.proteinesTt');
        var lipidesTt = calcColumn('tbody > tr > td.lipidesTt');
        $('tfoot > tr > td.glucides').get(0).firstChild.nodeValue = glucides;
        $('tfoot > tr > td.proteines').get(0).firstChild.nodeValue = proteines;
        $('tfoot > tr > td.lipides').get(0).firstChild.nodeValue = lipides;
        $('tfoot > tr > td.glucidesTt').get(0).firstChild.nodeValue = glucidesTt;
        $('tfoot > tr > td.proteinesTt').get(0).firstChild.nodeValue = proteinesTt;
        $('tfoot > tr > td.lipidesTt').get(0).firstChild.nodeValue = lipidesTt;
    }

    function calcColumn(columnName) {
        var res = 0.0
        $(columnName).each(function(index, value) {
            var currentVal = parseFloat(value.firstChild.nodeValue);
            if(currentVal> 0.0) {
                res += currentVal;
            }
        });
        return res.toFixed(2);
    }
    
    function createRecipe() {
       var recipe = new Object;
       var prepTimeSec = parseInt($('input#prepTime').get(0).value);
       var cookTimeSec = parseInt($('input#cookTime').get(0).value);
       var url = "http://localhost:9000/recette";
       recipe.name = $('input#recipeName').get(0).value;
       recipe.instructions = $('input#instructions').get(0).value;
       recipe.author = $('input#author').get(0).value;
       recipe.isPublicChkBx = $('input#public').get(0).value;
       recipe.description = $('input#description').get(0).value;
       if(prepTimeSec != NaN) {
         recipe.prepTimeSec = prepTimeSec;
       } else {
	     recipe.prepTimeSec = 0;
       }
       if(cookTimeSec != NaN) {
	     recipe.cookTimeSec = cookTimeSec;
       } else {
	     recipe.cookTimeSec = 0;
       }
       recipe.ingredientsIdQt = new Object;
       for(i=1; i<curId; i++) {
           var ingredientIdQt = getIngredientIdQt(i);
           jQuery.extend(recipe.ingredientsIdQt, ingredientIdQt);
       }
       $.ajax({ 
           url: url,
           type: "POST",
           dataType: "json",
           contentType:"text/json",
           data: JSON.stringify(recipe),
           success: function(data) {
               alert("nouvelle recette ajoutée");
           }
       });
    }

    function getIngredientIdQt(lineId) {
	   var ingredientId = "ingredient" + lineId;
       var ingredient = new Object;
       var id = $('tr#' + ingredientId + ' > td.id').get(0).firstChild.nodeValue;
       var quantityStr = $('tbody > tr#'+ingredientId+' > td > input').get(0).value;
       var quantity =  parseFloat(quantityStr);
       ingredient[id] = quantity;
       return ingredient;
    }
    
	    
    </script>



</head>
<body>
 <div class="ui-widget">
  <form>
  <p>
   <label for="tags">Ingrédient à ajouter: </label>
   <input id="ingredientToAdd" />
  </p>
  </form>
 </div>


 <div class="ui-widget">
  <p>
   <label>Nom du plat: </label><input id="recipeName" />
  </p>
  <p>
   <label>Temps de préparation (secondes): </label><input id="prepTime" />
  </p>
  <p>
   <label>Temps de cuisson (secondes): </label><input id="cookTime" />
  </p>

 </div>

 <table class="list" id="listIngredients" border="1">
  <thead>
   <tr>
    <th>Id</th>
    <th>Quantité</th>
    <th width="300">Nom</th>
    <th>Famille</th>
    <th>Glucides/100gr</th>
    <th>Lipides/100gr</th>
    <th>Protéines/100gr</th>
    <th>Glucides</th>
    <th>Lipides</th>
    <th>Protéines</th>
   </tr>
  </thead>
  <tbody>

  </tbody>
  <tfoot>
   <tr id="total">
    <td></td>
    <td></td>
    <td></td>
    <td>Total :</td>
    <td class="glucides">0.0</td>
    <td class="lipides">0.0</td>
    <td class="proteines">0.0</td>
    <td class="glucidesTt">0.0</td>
    <td class="lipidesTt">0.0</td>
    <td class="proteinesTt">0.0</td>
   </tr>
  </tfoot>
 </table>

 <p>
  <label>Public : </label><input type="checkbox" id="public" />
 </p>
 <p>
  <label>Description : </label><input type="text" id="description" />
 </p>
 <p>
  <label>Instructions: </label><input type="text" id="instructions" />
 </p>
 <p>
  <label>Auteur: </label><input type="text" id="author"
   value="sample@@sample.com" />
 </p>

 <p>
  <button id="submit">Submit</button>
 </p>

</body>
</html>