@(recettes: Seq[Recipe])

@main("Recettes", navRub = views.EnumNavRub.RECIPES){

<section id="addNewRecipe">
<div class="row">
 <a class="btn btn-primary" href="@controllers.website.routes.RecipeCtrl.form()">Add a new recipe</a>
</div>
</section>
 
<section id="showRecipes">
<div class="row">
<table class="table table-bordered">
<thead>
  <tr>
    <th>Id</th>
    <th>Nom</th><th>Description</th>
    <th>Temps de préparation</th>
    <th>Temps de cuisson</th>
    <th>Auteur</th>
    <th>Modifier</th>
  </tr>
</thead>
<tbody>
 @for(recette <- recettes) {
  <tr>
    <td>@recette.id.get</td>
    <td>@recette.name</td>
    <td>@recette.description</td>
    <td>@recette.prepTimeSec</td>
    <td>@recette.cookTimeSec</td>
    <td>@{recette.author.map{_.name}.getOrElse("")}</td>
    <td>
     <div>
      <a href="@controllers.website.routes.Application.showAddRecipeForm("", recette.id.get)">
        <button class="btn btn-primary" type="button">Ajouter ses ingredients</button>
      </a>
     </div>
     <div>
      <a href="@controllers.website.routes.RecipeCtrl.edit(recette.id.get)">
        <button class="btn" type="button">Éditer</button>
      </a>
      <a href="@controllers.website.routes.RecipeCtrl.delete(recette.id.get)">
        <button class="btn btn-danger" type="button">Supprimer</button>
      </a>
      </div>
    </td>
  </tr>
 }
</tbody>
</table>
</div>
</section>



}