@(pweights: List[Weight] )(
   implicit request: RequestHeader
 )
 
@import java.util.Date
@import java.util.Calendar
@import java.text.DateFormat
@import views.html._
@import helper._
@import models.website.IngredientConsumedHelper
@import controllers.website.Utils.DateUtils


@main("Évolution du poids", 
     f"""""",
     navRub = views.EnumNavRub.WEIGHT) {

<a href="@controllers.website.routes.WeightCtrl.addRecipeForm" class="btn">Ajouter</a>

<section id="showWeights">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Date</th>
          <th>Poid</th>
          <th>Graisse (%)</th>
          <th>Eau (%)</th>
          <th>Muscles (Kgr)</th>
          <th>Os (Kgr)</th>
          <th>Graisse viscérale</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
       @for(weight <- pweights) {
        <tr>
            <td>@DateUtils.dateFormaterDays.format(weight.date)</td>
            <td>@weight.weight</td>
            <td>@weight.fat</td>
            <td>@weight.water</td>
            <td>@weight.muscles</td>
            <td>@weight.bones</td>
            <td>@weight.visceralFat</td>       
            <td>
               <a class="btn-mini" href="@controllers.website.routes.WeightCtrl.deleteWeight(weight.id.get)">
               <i class="icon-minus-sign"></i>
               </a>   
            </td>
        </tr> 
      }
      </tbody>
     </table>
</section>

}@*end main*@

