@(ingredients:Seq[Ingredient])
@import models.dao._
@{val ingredientProperties = IngredientPropertyDao.findAll}

@main("List des ingrédients"){
 <table border=1>
     <thead>
     <tr>
         <td>Id</td>
         <td>Name</td>
         <td>Family</td>
         <td>Glucides</td>
         <td>Lipides</td>
         <td>Protéines</td>
     </tr>
     </thead>
     <tbody>
     @for(ingredient <- ingredients) {
     <tr>
         <td>@ingredient.id</td>
         <td>@ingredient.name</td>
         <td>@ingredient.familyStr</td>
         <td>@ingredient.ingredientProperties("Glucides")</td>
         <td>@ingredient.ingredientProperties("Lipides")</td>
         <td>@ingredient.ingredientProperties("Protéines")</td>
     </tr>
     }
     </tbody>
 </table>
 }