@(title: String)(content: Html)
<!DOCTYPE html>
<html>
    <head>
       <title>@title</title>
       <link rel="stylesheet" media="screen" href="@{controllers.website.routes.Assets.at("stylesheets/bootstrap.css")}">
       <link rel="stylesheet" media="screen" href="@{controllers.website.routes.Assets.at("stylesheets/main.css")}">
       <script src="@controllers.website.routes.Assets.at("javascripts/jquery-1.9.0.js")"></script>
    </head>

    <body>

    <div class="topbar">
        <div class="fill">
            <div class="container">
                <a class="brand" href="@controllers.website.routes.Application.index()">Ingredienty</a>
                <ul class="nav">
                    <li class="active">
                    <a href="/">Sign up</a>
                    </li>
                    <li class=" ">
                    <a href="/">Contacts</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="content">

            <div class="page-header">
                <h1>
                @title
                </h1>
            </div>

            <div class="row">
                <div class="span14">
                    @content
                </div>
            </div>

        </div>

        <footer>
            <p>
                <a href="@controllers.website.routes.Application.index()">www.ingredienty.com</a>
            </p>
        </footer>

    </div>

    </body>

